.navbar{
    margin: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1.5rem; 
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
}

.navbar:active{
    background-color: #ffffff;
    color:#DE9D07
}

.navbar a:hover{
    background-color: #ffffff;
    color:#DE9D07
}

.dropdown .dropbtn {
    display: flex;
    flex-flow: column wrap;
    border: none;
    outline: none;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color:#fff;
    background-color: #DE9D07;
  }
  
 
  